/* #sec1{
	position: relative;
	border: 5px dashed red;
	background-color: #808080;
	height: 900px;
	width: 600px;
}

p{
	opacity: 0.5;
	background-color: white;
	height: 40px;
}

#static{
	position: static;
	top: 30px;
	right: 30px;
}

#fixed{
	position: fixed;
	top: 30px;
	right: 30px; 
}

#absolute{
	position: absolute;
	top: 30px;
	right: 30px;
}

#relative{
	position: relative;
	top: 30px;
	right: 30px;
}

#sticky{
	position: sticky;
	top: 30px;
	right: 30px;
} */

#sec2{
	border: 3px solid green;
} 

img{
	/* float: left; */
	margin: 0 auto;
	display: block;
}

#p2{
	clear: both;
}

/*p{
	clear: both;
} */

.clear{
	clear: both;
}
